



.hidden{
  display: none !important;
  /* visibility: hidden !important;  */
}

.Dflex{
  display: flex;
}

.flex {
  display: flex;
}

.coupon-container {
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.coupon-text-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}


.form-input {
    border-radius: 5px;
    text-align: left;
    background: #fff;
}

.coupon-input {
  /* border-radius: 0!important; */
  font-size: 14px;
  height: 40px!important;
}

.text-box {
  /* height: 35px; */
  width: 200px!important;
}

.apply-btn, .apply-coupon-btn:disabled {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #000;
  cursor: not-allowed;
}

.apply-coupon-btn {
  /* background-color: #155eef;
  border: none;
  color: #fff;
  cursor: pointer; */
  height: 40px;
  margin-left: 0.5rem;
  padding: 0.6rem 1.2rem;
}
